<form [formGroup]='scheduleDisplayForm'>
  <div class="col-lg-12">
    <br>
    <div>
      <button type="submit"
              class="btn btn-primary mr-5"
              (click)="setDisplayType()"
              autofocus>{{showLabel}}</button>
      <button *ngIf='!showAllRounds'
              type="submit"
              class="btn btn-primary mr-5"
              (click)="advanceDisplay(-1)">Previous</button>
      <button *ngIf='!showAllRounds'
              type="submit"
              class="btn btn-primary mr-5"
              (click)="advanceDisplay(1)">Next</button>

      <button type="submit"
              class="btn btn-primary mr-5"
              (click)="setDisplayInfo()">{{infoLabel}}</button>
      <button type="submit"
              class="btn btn-primary mr-5"
              (click)="performAnalysis()">Perform Analysis</button>
    </div>
    <div *ngIf='displayInfo'>
      <label>{{(schedulerType$ | async)}}</label> <br>
      <label>Nbr of {{(playerType$ | async)}} =
        {{(nbrOfPlayers$ | async)}}</label> <br>
      <label>Nbr of courts = {{(nbrOfCourts$ | async)}}</label> <br>
      <label>Nbr of {{(playerType$ | async)}} per court =
        {{(playersPerCourt$ | async)}}</label> <br>
      <label>Nbr of byes per round = {{(nbrOfByePlayers$ | async)}}</label> <br>
    </div>
    <br>
    <div>
      <table>
        <th *ngFor='let header of (headers$ | async)'>{{header}}</th>
        <tr *ngFor='let round of (displayRounds$ | async)'>
          <td>{{round.roundId}}</td>
          <td *ngFor='let match of round.matches'>
            <span pbsHighlightOnHover
                  style='text-align:center'
                  (click)='addScore(content, match)'>
              <span>{{match | pbsMatchLabel: 1 : useNamesForMatches}}</span>
              <span
                    [ngStyle]='highlightWinner(match, 1)'>{{match.team1Score | pbsMatchScore}}</span>
              <span> vs </span>
              <span
                    [ngStyle]='highlightWinner(match, 2)'>{{match.team2Score | pbsMatchScore}}</span>
              <span>{{match | pbsMatchLabel: 2 : useNamesForMatches}}</span>
            </span>
          </td>
          <td *ngIf='hasBye(round.byeId)'>{{formattedByes(round.byeId)}}</td>
        </tr>
      </table>
    </div>
  </div>
</form>

<ng-template #content
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">Update Scores</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div>
          <label for="updateScore">Team 1 Score</label>
          <input type="number"
                 class="form-control"
                 name="team1Score"
                 value="{{selectedMatch.team1Score}}"
                 #team1Score
                 pbsAutofocus>
        </div>
        <div>
          <label for="updateScore">Team 2 Score</label>
          <input type="number"
                 class="form-control"
                 name="team2Score"
                 value="{{selectedMatch.team2Score}}"
                 #team2Score>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Update Scores Cancelled')">Cancel</button>
    <button type="button"
            class="btn btn-outline-dark"
            (click)="updateTeamScore(modal, team1Score.value, team2Score.value)">Update
      Team Score</button>
  </div>
</ng-template>
