<div class='col-lg-4 offset-lg-1'>
  <br>
  <h3>Welcome</h3>
  <p>
    Welcome to the Pickleball Scheduler. This will allow you to schedule different types of formats. We currently only
    support one division at a time. The schedule will setup matches between players and it will organize matches into
    rounds. It will also determine which players will need to sit out each round.
  </p>
  <br>
  <h3>Quick Start</h3>
  <p>
    Have your players count off. This will assign each player a number and you will determine how many players you have.
    Click on Scheduler. Select the scheduler type, enter the number of players and courts, then select Start. This
    will give you a schedule based on player number.
  </p>
  <br>
  
</div>