<form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form.valid)" #f="ngForm" novalidate>
  <div class="col-lg-4 offset-lg-1">
    <div>
      <br>
      <label name="scheduleType" id="scheduleType" class="h5">Schedule Type</label>
      <div class="bs-component" style="margin-bottom: 15px;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-primary" [class.active]="'King of the Court' === seType">
            <input type="radio" name="scheduleType" id="King of the Court" value="King of the Court" autocomplete="off" ngModel
              [(ngModel)]="seType" [checked]="'King of the Court' === seType" (click)="onClickScheduleType('King of the Court')"> King of the
            Court
          </label>
          <label class="btn btn-primary" [class.active]="'Tournament' === seType">
            <input type="radio" name="scheduleType" id="Tournament" value="Tournament" autocomplete="off" ngModel
              [(ngModel)]="seType" [checked]="'Tournament' === seType" (click)="onClickScheduleType('Tournament')">
            Tournament
          </label>
        </div>
      </div>
    </div>
    <div>
      <label name="playerType" id="playerType"class="h5">Player Type</label>
      <div class="bs-component" style="margin-bottom: 15px;">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label *ngIf="'King of the Court' === seType" class="btn btn-primary" [class.active]="'Individuals for Doubles' === sePlayerType">
              <input type="radio" name="playerType" id="Individuals for Doubles" value="Individuals for Doubles" ngModel
                [(ngModel)]="sePlayerType" autocomplete="off" [checked]="'Individuals for Doubles' === sePlayerType"
                (click)="onClickPlayerType('Individuals for Doubles')"> Individuals for Doubles
            </label>
          <label class="btn btn-primary" [class.active]="'Singles' === sePlayerType">
            <input type="radio" name="playerType" id="Singles" value="Singles" autocomplete="off" ngModel
              [(ngModel)]="sePlayerType" [checked]="'Singles' === sePlayerType" (click)="onClickPlayerType('Singles')">
            Singles
          </label>
          <label class="btn btn-primary" [class.active]="'Teams' === sePlayerType">
            <input type="radio" name="playerType" id="Teams" value="Teams" autocomplete="off" ngModel
              [(ngModel)]="sePlayerType" [checked]="'Teams' === sePlayerType" (click)="onClickPlayerType('Teams')">
            Teams
          </label>
        </div>
      </div>
    </div>
    <div>
      <h5 *ngIf="sePlayerType !== 'Teams'">Number of Players</h5>
      <h5 *ngIf="sePlayerType === 'Teams'">Number of Teams</h5>
      <!-- <div class="input-group-text">
        <input type="checkbox" aria-label="Load from Group" name="loadFromGroup" id="loadFromGroup" ngModel
          [(ngModel)]="seLoadFromGroup" #loadFromGroup="ngModel">
        <span>Load from Group</span>
      </div> -->
      <div *ngIf="seLoadFromGroup">
        <select name="groupToLoad" id="groupToLoad" [(ngModel)]="seSelectedGroup">
          <option *ngFor="let group of groups$ | async" value={{seSelectedGroup}} [ngValue]="group">{{group.name}}
          </option>
        </select>
        <br><br>
      </div>
      <div *ngIf="!seLoadFromGroup">
        <input type="number" class="form-control" name="nbrOfPlayersInput" ngModel [(ngModel)]="sePlayers"
          #nbrOfPlayersInput="ngModel" autofocus required>
        <div *ngIf="nbrOfPlayersInput.invalid && (nbrOfPlayersInput.dirty || nbrOfPlayersInput.touched)">
          <div *ngIf="nbrOfPlayersInput?.errors.required">This field is required</div>
        </div>
        <br>
      </div>
    </div>
    <div *ngIf="seType === 'King of the Court'">
      <h5>Number of Courts</h5>
      <input class="form-control" type="number" name="nbrOfCourtsInput" id="nbrOfCourtsInput" ngModel
        [(ngModel)]="seCourts" #nbrOfCourtsInput="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && nbrOfCourtsInput.invalid }" required>
      <div *ngIf="nbrOfCourtsInput.invalid && (nbrOfCourtsInput.dirty || nbrOfCourtsInput.touched)">
        <div *ngIf="nbrOfCourtsInput?.errors.required">This field is required</div>
      </div>

      <br>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Randomize order" name="randomizeOrder" id="randomizeOrder" ngModel
            [(ngModel)]="seRandomizeOrder" #randomizeOrder="ngModel">
          <span>Randomize order</span>
        </div>
        <div class="input-group-text" *ngIf="seLoadFromGroup">
          <input type="checkbox" aria-label="Use names for matches" name="useNamesForMatches" id="useNamesForMatches"
            ngModel [(ngModel)]="seUseNamesForMatches" #useNamesForMatches="ngModel">
          <span>Use names for matches</span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit(f.form.valid)">Start</button>
  </div>
</form>
