<form #form="ngForm">
  <div class="col-lg-4 offset-lg-1">
    <label name="scheduleType" id="scheduleType">Schedule Type</label>
    <div class="bs-component" style="margin-bottom: 15px;">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="'King' === seType">
          <input type="radio" name="options" id="King of the Court" value="King" autocomplete="off"
            [checked]="'King' === seType" (click)="onClickScheduleType('King')"> King of the Court
        </label>
        <label class="btn btn-primary" [class.active]="'Tournament' === seType">
          <input type="radio" name="options" id="Tournament" value="Tournament" autocomplete="off"
            [checked]="'Tournament' === seType" (click)="onClickScheduleType('Tournament')"> Tournament
        </label>
      </div>
    </div>
    <div>
      <h5>Number of Players</h5>
      <div class="input-group-text">
        <input type="checkbox" aria-label="Load from Group" name="loadFromGroup" id="loadFromGroup" ngModel
          [(ngModel)]="seLoadFromGroup" #loadFromGroup="ngModel">
        <span>Load from Group</span>
      </div>
      <div *ngIf="seLoadFromGroup">
        <select name="groupToLoad" id="groupToLoad" [(ngModel)]="seSelectedGroup">
          <option *ngFor="let group of groups$ | async" [ngValue]="group">{{group.name}}</option>
        </select>
        <br><br>
      </div>
      <div *ngIf="!seLoadFromGroup">
        <input type="number" class="form-control" name="nbrOfPlayersInput" ngModel
          [(ngModel)]="sePlayers" #nbrOfPlayersInput="ngModel" autofocus>
        <br>
      </div>
    </div>
    <div *ngIf="seType === 'King'">
      <h5>Number of Courts</h5>
      <input class="form-control" type="number" name="nbrOfCourtsInput" id="nbrOfCourtsInput" ngModel
        [(ngModel)]="seCourts" #nbrOfCourtsInput="ngModel">
      <br>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Randomize order" name="randomizeOrder" id="randomizeOrder" ngModel
            [(ngModel)]="seRandomizeOrder" #randomizeOrder="ngModel">
          <span>Randomize order</span>
        </div>
        <div class="input-group-text">
          <input type="checkbox" aria-label="Use names for matches" name="useNamesForMatches" id="useNamesForMatches" ngModel
            [(ngModel)]="seUseNamesForMatches" #useNamesForMatches="ngModel">
          <span>Use names for matches</span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Start</button>
  </div>
</form>
